* {
    font-family: Lato;
}

.main .query {
    text-align: center;
}

.main .query input {
    width: 50%;
    margin-top: 15%;
}

.header .query input {
    width: 94%;
    margin: 10px 10px;
}

.header .navi {
    padding: 0 15px 0 0;
}

.header .navi .case {
    margin-top: 11px;
    float: right;
    cursor: pointer;
}

.header .navi div.more {
    margin-top: 6px;
    margin-right: 0.6em;
    float: right;
    display: inline-block;
    cursor: pointer;
    font-size: 2em;
}

.header .navi .case div {
    width: 2.8em;
    height: 2.8em;
    border: 1px solid #a0a0a0;
    text-align: center;
    margin-right: 0.6em;
    border-radius: 50%;
    font-size: 1.2em;
    padding-top: 0.65em;
}

.header .navi .case label {
    display: inline;
    position: relative;
    top: -2.2em;
    left: 3.7em;
    font-size: 0.6em;
    color: red;
}

.header .navi .case div.active {
    border-width: 3px;
    border-color: aqua;
}

.results .animate {
    border: solid 3px;
    border-color: aqua;
    position: absolute;
    width:100%;
}

.query input {
    font-size: 1.3em;
    padding: 0.7em;
    outline: none;
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}

.blank {
    display: none;
}

.results .rc {
    font-size: 2em;
    text-align: center;
    padding-top:0.4em;
}

.results .rubric {
    padding: 0.5em 2.5em;
    cursor: pointer;
}

.results .rubric .pl {
    font-size: 1.7em;
}
.results .rubric .en {
    font-size: 1.1em;
}

.results .rubric b {
    color: #e00000;
}

.results .case, .results .rubrics {
    padding: 0.5em 1.5em;
    font-size: 1.7em;
    cursor: pointer;
}
.results .rubrics {
    text-align: center;
}

.results .x {
    text-align: right;
    padding: 0.5em 1.5em;
    font-size: 1.7em;
}

.results .x a{
    text-decoration: none;
}

.results .even {
    background-color: aquamarine;
}
.results .odd {
    background-color: azure;
}

div.repertory {
    width: 100%;
    overflow: auto;
    padding: 10px;
}

table.repertory {
    border: 0;
    width: auto;
}

table.repertory th {
    white-space: nowrap;
    height: 110px;
    border: 0 !important;
}

table.repertory th div {
    font-size: 0.7em;
    transform: translate(10px, 82px) rotate(315deg);
    width: 10px;
}

table.repertory th > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    font-weight: normal;
}

table.repertory td {
    white-space: nowrap;
}

table.repertory td.score,table.repertory td.weight {
    font-size: 0.7em;
}

table.repertory td div.pl {
    font-size: 0.8em;
}

table.repertory #casename {
    outline: none;
    width: 100%;
    border: 1px solid #a0a0a0;
    padding: 0.6em;
    margin-top: 2em;
}


table.repertory td.score4 {
    background-color: darkblue;
}

table.repertory td.score3 {
    background-color: blue;
}

table.repertory td.score2 {
    background-color: cornflowerblue;
}

table.repertory td.score1 {
    background-color: aquamarine;
}

table.repertory td.score0 {
    background-color: white;
}

table.repertory td a.x {
    float: right;
    text-decoration: none;
    font-size: 0.6em;
    position: relative;
    top: -0.7em;
    outline: none;
}

table.repertory .row td {
    padding: 3px 8px;
}