* {
    font-family: Lato;
}

.main .query {
    text-align: center;
}

.main .query input {
    width: 50%;
    margin-top: 15%;
}

.header .query input {
    width: 90%;
    margin: 15px;
}

.header. navi {
    text-align: right;
}

.header .navi .case {
    margin-top: 1.3em;
    float: right;
}

.header .navi .case div {
    width: 3em;
    height: 3em;
    border: 1px solid #a0a0a0;
    text-align: center;
    margin-right: 0.6em;
    border-radius: 50%;
    font-size: 1.2em;
    padding-top: 0.65em;
}

.header .navi .case label {
    display: inline;
    position: relative;
    top: -2.2em;
    left: 3.7em;
    font-size: 0.6em;
    color: red;
}

.header .navi .case div.active {
    border-width: 3px;
    border-color: aqua;
}

.results .animate {
    border: solid 3px;
    border-color: aqua;
    position: absolute;
    width:100%;
}

.query input {
    font-size: 1.3em;
    padding: 0.7em;
    outline: none;
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}

.blank {
    display: none;
}

.results .rc {
    font-size: 2em;
    text-align: center;
    padding-top:0.4em;
}

.results .rubric {
    padding: 0.5em 5em;
    cursor: pointer;
}

.results .rubric .pl {
    font-size: 1.7em;
}
.results .rubric .en {
    font-size: 1.1em;
}

.results .even {
    background-color: aquamarine;
}
.results .odd {
    background-color: azure;
}